.hero{
    display: flex;
    justify-content: space-between;
}
.left-h{
    padding: 3rem;
    padding-top: 1.5rem;
    flex:3 ;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}
.right-h{
    position: relative;
    flex: 1;
    background-color: var(--orange);
}

.ad{
    margin-top: 2.6rem;
    background-color: #363d42;
    border-radius: 5rem;
    width: fit-content;
    padding: 22px 16px;
    color: white;
    text-transform: uppercase;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.ad span{
    z-index: 999;
}

.ad div{
    position: absolute;
    left: 7px;
    background-color: var(--orange);
    width: 6rem;
    height: 80%;
    border-radius: 5rem;
}
.hero-text{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 4.8rem;
    font-weight: bold;
    color: white;

}
.hero-text div:nth-child(3){
    font-size: 1rem;
    font-weight: 200;
    letter-spacing: 1.4px;
    width: 75%;
}
.figures{
    display: flex;
    gap: 2.5rem;
}
.figures div{
    display: flex;
    flex-direction: column;
}
.figures div span:nth-child(1)
{
    color: white;
    font-size: 2.4rem;
}
.figures div span:nth-child(2){
    color: var(--gray);
    text-transform: uppercase;
    font-weight: 700;
}
.hero-buttons{
    display: flex;
    gap: 1rem;
    font-weight: 400;
}
.hero-buttons button:nth-child(1)
{
    background-color: var(--orange);
    color: white;
    width: 9rem;
}
.hero-buttons button:nth-child(2)
{
    background-color: transparent;
    color: white;
    width: 9rem;
  
    border: 2px solid var(--orange);
}

.heart-rate img{
    width: 2rem;
}
.heart-rate{
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
    background-color: var(--darkGrey);
    width: fit-content;
    white-space: nowrap;
    padding: 1rem;
    border-radius: 6px;
    align-items: start;
    position: absolute;
    right: 5rem;
    top: 8rem;

}
.heart-rate span:nth-of-type(1){
    color: var(--gray);
}
.heart-rate span:nth-of-type(2){
    color: white;
    font-size: 1.57rem;
}

.right-h .hero-image{
    position: absolute;
    right: 8rem;
    top: 4rem;
    width: 29rem;
}
.hero-image-back{
    position: absolute;
    top: 5rem;
    right: 22rem;
    z-index: -99;
    width: 16rem;
}
.calories-image{
    width: 6rem;
}

.right-h .calories{
    display: flex;
    gap: 1.4rem;
    background-color: var(--caloryCard);
    border-radius: 6px;
    /* align-items: center; */
    width: fit-content;
    padding: 0.15rem 1rem 0.15rem 0.15rem ;
    position: absolute;
    top: 34rem;
    right: 32rem;
    z-index: -99999;
}
.calories span{
    white-space: nowrap;
}
.calories span:nth-of-type(1){
    color: var(--gray);
}
.calories span:nth-of-type(2){
    color: white;
    font-size: 1.6rem;
}
.calories div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


@media screen and (max-width: 1400px){
    .right-h .calories{
        position: absolute;
        top: 34rem;
        right: 24rem;
        z-index: -99999;
    }
    .right-h .hero-image{
        right: 3rem;
    }
    .hero-image-back{
        position: absolute;
        top: 5rem;
        right: 16rem;
        z-index: -99;
        width: 16rem;
    }


}






@media screen and (max-width: 1300px){
    .right-h{
        background-color: none;
        position: relative;
    }
    .right-h .hero-image{
        position: relative;
        right: 22rem;
        top: 9rem;
        width: 25rem;
    }
    .hero-text{
        gap: 1rem;
        font-size: 3.5rem;
    
    }
    .hero-image-back{
        position: absolute;
        top: 10rem;
        right: 33rem;
        z-index: -99;
        width: 14rem;
    }
    .hero-text div:nth-child(3){
        width: 50%;
        line-height: 1.5rem;
        
    }
    .right-h .calories{
        display: flex;
        gap: 1.2rem;
        position: relative;
        top: 0rem;
        right: 16rem;
        transform: scale(0.75);
        z-index: -99999;
    }
    .heart-rate{
        gap: 0.75rem;
        white-space: nowrap;
        position: absolute;
        right: 27rem;
        top: 8rem;
        transform: scale(0.8);
        z-index: -99999;
    
    
    }

}






@media screen and (max-width: 768px)
{
    .hero{
        flex-direction: column;
    }
    .ad{
        margin-top:0;
        font-size: small;
        text-align: center;
        line-height: 0.9rem;
        padding: 16px;
        transform: scale(0.9);

    }
    .ad div{
        width: 5rem;
    }

    .hero-text{
        font-size: 1.4rem;
        align-items: center;
        justify-content: center;
        transform: scale(1.2);
    }
    .hero-text div:nth-child(3){
        font-size: xx-small;
        line-height: 0.9rem;
        letter-spacing: 1.4px;
        width: 100%;
        text-align: center;
    }
    .figures div span:nth-child(1)
    {
        font-size: large;
    }
    .figures div span:nth-child(2)
    {
        font-size: small;
    }
    .figures{
        gap: 2rem;
        justify-content: center;
        align-items: center;
    }
    .figures div{
        gap: 0.5rem;
    }
    .hero-buttons{
        justify-content: center;
        align-items: center;
        transform: scale(0.8);
    }
    .right-h{
        background: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .heart-rate{
        left: 1rem;
        top: 0;
        transform: scale(0.9);
    }
    .calories{
        position: relative;
        left: 2rem;
        top:0rem;
        transform: scale(0.55);
    }
    .right-h .hero-image{
        position: relative;
        left: 6rem;
        top:0;
        width: 15rem;
        align-self: safe center;
        transform: scale(1.1);
        
    }
    .hero-image-back{
        width: 10rem;
        left: 6rem;
        top: 0;
        z-index: -9999999;

    }
}





