.join-us{
    display: flex;
    gap: 10rem;
    padding: 0 2rem;
}
.join-us .left-j {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    font-size: 3rem;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
}
.left-j hr{
    position: absolute;
    width: 18rem;
    border: 2px solid var(--orange);
    margin: -2rem 0;

}
.left-j div{
    display: flex;
    gap: 1.5rem;
}
.right-j{
    display: flex;
    justify-content: center;
    align-items: center;
}
.email-contain{
    display: flex;
    gap: 3rem;
    background-color: gray;
    padding: 1rem 3rem;
}
.email-contain input{
    background-color: transparent;
    padding: 0 3rem 0 1rem;
    font-size: 0.94rem;
    border: none;
    outline: none;
    color: var(--lightgray);
    width: 100%;
}
::placeholder{
    color: var(--lightgray);
    font-style: italic;
}
.btn-join{
    background-color: var(--orange);
    color: white;
    font-weight: bold;
}

@media screen and (max-width: 1300px){
    .join-us{
        flex-direction: column;
        gap: 4rem;
    }
    
}


@media screen and (max-width: 768px){
    .join-us{
        flex-direction: column;
        gap: 1rem;
    }

    .join-us .left-j {
        gap: 1.5rem;
        font-size: x-large;
    }
    .left-j hr{
        width: 9rem;
     }
     .email-contain{
        gap: 1rem;
        background-color: gray;
        padding: 1rem;
    }
    .email-contain input{
        padding: 0;
        font-size: 0.9rem;
        color: var(--lightgray);
        width: 100%;
    }
    .right-j{
        padding: 1rem;
    }

}