.testimonials{
    display: flex;
    gap: 1rem;
    padding: 1.2rem 2rem;
}
.left-t{
    display: flex;
    flex: 1 1;
    flex-direction: column;
    gap: 2.5rem;
    color: white;
}
.left-t span:nth-of-type(1){
    text-transform: uppercase;
    font-weight: bold;
    color: var(--orange);
}
.left-t span:nth-of-type(2),
.left-t span:nth-of-type(3){
    font-weight: 700;
    font-size: 3rem;
}
.left-t .t-review{
    text-transform: none;
    text-align: justify;
    letter-spacing: 1px;
    line-height: 2.1rem;
    font-style: italic;
}
.right-t{
    flex: 1 1;
    position: relative;
}

.right-t .t-photo {
    position: absolute;
    right: 8rem;
    top: 2rem;
    width: 18rem;
    height: 20rem;
    object-fit: cover;
}
.right-t div:nth-child(1){
    position: absolute;
    right: 9rem;
    top: 1rem;
    width: 18rem;
    height: 20rem;
    border: 2px solid orange;
    background-color: transparent;

}
.right-t div:nth-child(2){
    position: absolute;
    right: 6rem;
    top: 4rem;
    width: 18rem;
    height: 20rem;
    background: var(--planCard);
}
.right-t .arrows{
    display: flex;
    gap: 0.8rem;
    position: absolute;
    left: 10rem;
    bottom: 0.9rem;

}
.right-t .arrows img{
    width: 2rem;
    cursor: pointer;
}

@media screen and (max-width: 1300px){
    .left-t{
        gap: 1.8rem;
    }

    .right-t .t-photo {
        position: absolute;
        right: 2rem;
        top: 8rem;
    }
    .right-t div:nth-child(1){
        position: absolute;
        right: 3rem;
        top: 7rem;
    
    }
    .right-t div:nth-child(2){
        position: absolute;
        right: 1rem;
        top: 9rem;
    }
    .right-t .arrows{
        display: flex;
        gap: 0.8rem;
        position: relative;
        bottom: -26rem;
        left: -6rem;
    }
    


}

@media screen and (max-width: 768px)
{
    .testimonials{
        flex-direction: column;
    }
    .left-t span:nth-of-type(2),
.left-t span:nth-of-type(3){
    font-size: xx-large;
}
.right-t{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;

}
.right-t div{
    position: relative;
    display: none;
}
.right-t .t-photo {
    position: relative;
    right: 0;
    top: 0;
    align-self: center;
    width: 16rem;
    height: 18rem;
    object-fit: cover;
}

 .right-t .arrows{
        gap: 0.7rem;
        position: relative;
        left: 0;
        bottom: 0.0;
    }




}
